@charset "UTF-8";
/* CSS Document */
p 
{
	color: antiquewhite;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	line-height: 22px;
	max-width: 800px;
	background-color: rgba(51,111,139,0.74);
	padding: 20px;
	border-radius: 10px;
}

h1.naslov 
{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 45px;
	color: antiquewhite;
	background-color: #336F8B;
	padding: 30px;
	border-radius: 700px;
    max-width: 265px;
}
h1
{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: antiquewhite;
	background-color: #336F8B;
	padding: 20px;
	border-radius: 20px;
    max-width: 350px;
}

h2 
{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: antiquewhite;
	background-color: rgba(51,111,139,0.93);
	padding: 20px;
	border-radius: 10px;
	max-width: 800px;
}

span {color: #1C1C1C;}

ol, ul
{
	color: antiquewhite;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	line-height: 25px;
	max-width: 500px;
	background-color: rgba(51,111,139,0.74);
	padding: 20px;
	border-radius: 10px;
}

html, body
{
    height: 100%;
    margin: 0px;
	padding-bottom: 20px;
	
}


body.pocetna
{
    position: relative;
    min-height: 100vh;
    background: url("slike/apstrakcija2.jpg");
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	margin: 50px;
}

body.o_meni
{
	position: relative;
    min-height: 100vh;
    background-color: rgba(0,164,202,1.00);
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	margin: 50px;
}

body.vjezbe
{
	position: relative;
    min-height: 100vh;
	background-color: rgba(138,233,255,1.00);
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	margin: 50px;
}
/*body.vjezbe {
    position: relative;
    min-height: 100vh;
    padding: 50px;
    margin: 0;
    background: url("slike/apstrakcija6.jpg") no-repeat center / cover;
}
/*
body.vjezbe::before {
    content: "";
    position: absolute;
    inset: 0;  
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0) 70%,   
        rgba(255,255,255,1) 100%  
    );
    pointer-events: none;  
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;             
    color: #000;            
}
*/
body.video
{
	position: relative;
    min-height: 100vh;
    background: url("slike/apstrakcija7.jpg");
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	margin: 50px;
}

a:link 
{ 
	color: saddlebrown;
	background-color: rgba(51,111,139,0.68);
	padding: 15px;
	line-height: 40px;
	border-radius: 30px;
	border: 2px solid rgba(128, 128, 128, 0.5);
}

a:hover
{
	background-color: #336F8B;
}

a:visited
{
	color: darkblue
}

img
{
	height: 555px;
}